footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 50px;
  } 
  .cardContainer {
    margin-top: 20px;
  }
  .card {
    margin: 0 auto;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-family: 'anton', sans-serif;
  }
  
  p{
    font-family: 'sura', sans-serif;
  }
  
  .customNav{
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: darkgray;
    background-size: cover;
    z-index: 10;
    height: 70px;
  }
  
  .navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
  }
  
  .navbar-brand img{
    padding-right: 15px;
    padding-top: 5px;
    width: 65px;
    
  }
  
  .nav-item{
    margin: 0px 15px;
  }
  
  .dropdown-menu{
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
  }
  
  .dropdown-menu:focus, .dropdown-item:hover{
    color: #16181B;
    text-decoration: none;
    background: black;
  }
  
  .customNav a{
    color: black !important;
  }
  
  .navCTA{
    font-size: 15px;
  }
  
  .jumbotron{
    height: 500px;
    background-image: url("../images/42522.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .btn-primary{
    background-color: orange !important;
    border-color: orange !important;
  }
  
  
  .textButton{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .content{
    padding: 50px;
  }
  
  .sectionHeading{
    text-align: center;
  }
  
  .showsNear{
    padding: 0px 30px 0px 30px;
  }
  
  .cardContainer{
    text-align: center;
  }
  
  .valueProp{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .imageContainer{
    padding: 50px;
  }
  
  .imageContainer img{
    width: 100%;
  }
  
  .emailContain{
    background: url("../images/Dv5mlvAW0AMiopM.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  
  
  .middleImage{
    background-size: cover;
    height: 315px;  
    background-image: url("../images/FTC.png");
  }
  
  h3{
    color: black;
  }

  .list-group-item .active{
    z-index: 2;
    color: #fff;
    background-color: orange !important;
    border-color: orange !important;
  }

  .display-4{
      text-align: center;
      font-size: 50px;
  }

  #footer{
      display: flex;
      height: 200px;
      width: 1905px;
      margin-top: 50px;
  }

  li{
      list-style-type: none;
      
  }

  img{
      object-fit: contain;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .footerList{
      margin-top: 20px;
  }

  .footerName{
      font-size: 40px;
      margin-top: 20px;
  }

  #footerNav{
      display: flex;
      width: 1905px;
      margin: 70px;
      margin-left: 100px;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
  }